/* CSS */
.button-stack {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 0.55rem;
  justify-content: center;
  line-height: 1em;
  /* max-width: 100%;
  min-width: 1rem; */
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-stack:active,
.button-stack:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-stack {
    font-size: 0.85rem;
    min-width: 1rem;
    padding: 0.5rem 1rem;
  }
}
