.hidden-effect-altor {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translateX(120px);
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}

.visible-effect-altor {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}
