.asset-section {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 1s ease-in-out, transform 1s ease;
}
.asset-section.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}

.hidden-effect {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transform: translateX(-120px);
  transition: all 1s ease-in-out;
}

.visible-effect {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}
