.container-0 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    189deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 8, 83, 1) 11%,
    rgba(19, 19, 97, 1) 77%
  );
}

.container-1 {
  background: rgb(235, 9, 162);
  background: linear-gradient(
    166deg,
    rgba(235, 9, 162, 1) 0%,
    rgba(179, 15, 126, 1) 55%,
    rgba(81, 10, 116, 1) 100%
  );
}

.container-2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    189deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 8, 83, 1) 11%,
    rgba(19, 19, 97, 1) 77%
  );
}

.container-3 {
  background: rgb(235, 9, 162);
  background: linear-gradient(
    166deg,
    rgba(235, 9, 162, 1) 0%,
    rgba(179, 15, 126, 1) 55%,
    rgba(81, 10, 116, 1) 100%
  );
}

.container-4 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    189deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 8, 83, 1) 11%,
    rgba(19, 19, 97, 1) 77%
  );
}
