.nav-section {
  background: linear-gradient(
    to right,
    rgba(129, 33, 208, 1),
    rgba(41, 28, 58, 1)
  );
  color: #fff;
  font-weight: 500;
}

nav.sticky {
  background-color: rgb(68, 68, 71);
}
/* 
nav.sticky ul li {
  color: white;
} */
